/* universal styles */

html {
  font-size: 18px;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 2.32rem;
}

.logo {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  width: auto;
}
